*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/avengers.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider, .slide{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide img{
    width: 50%;
    object-fit: cover;
    display: none;
}

.active img{
    display: block;
}


